body {
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: center;
}
table {
    margin: 0 auto;
}
#myTextarea {
    font-size: 15px;
}

.input-box {
    display: block;
}
.input-box .input-box-reset {
    padding: 0px 110px;
    justify-content: center;
}
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-shadow: black;
}
.message {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    justify-content: center;
    color: blue;
    padding: 0px 90px;
    font-weight: bolder;
}
.correct {
    text-align: center;
    font-weight:bolder;
    color: green;
    background-color:bisque;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hints-container {
    padding: 0px 20px 25px;
}

.hints-container p {
    font-size: 1.3em;
    margin-bottom: 0; 
}
#level-form {
    padding: 0px 30px;
    display: flex;
}
#level-name {
    font-size: 1.1em;
    margin-right: 5px;
}
#board-size1 {
    padding: 0em 2em;
    font-size: 1.1em;
    border-radius: 9px;
}
#size-form {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 13px;
    #board-size {
        border-radius: 15px;
    }
}

#size-form label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#size-form select {
    padding: 0.5em;
    font-size: 1em;
    width: 100px;
    margin-bottom: 1em;
}

.button-container {
    text-align: center;
}
.solution {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 10em;
    height: 2.5em;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.solution:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.cell-solved {
    color: red;
    text-align: center;
    font-weight:bolder;
}
.container {
    display: flex;
    align-items: center;
}
#board {
    margin-left: 110px;
}
.button-container{
    padding: 0em 7em;
}
td {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
}
tr:first-child td {
    border-top: 3px solid black;
}
td:first-child {
    border-left:  3px solid black;
}
td:nth-child(3n) {
    border-right: 3px solid black;
}
tr:nth-child(3n) td {
    border-bottom: 3px solid black;
}


input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control transparency */
    display: none;
  }
  
  #message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  #message-text {
    margin: 0;
  }
